/* =================== NAV =================== */

.nav {
    display: flex;
    /* activa flexbox */
    justify-content: space-between;
    /* logo izquierda, menú derecha */
    align-items: center;
    /* centra verticalmente */
    padding: 60px 60px;
}

/* =================== ICONOS NAVBAR =================== */
.nav-icon i {
    color: white;
    /* blanco siempre */
    font-size: 26px;
    /* tamaño*/
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-icon i:hover {
    color: #d1d1d1;
    /* gris claro al pasar el mouse */

    transform: scale(1.15);
    /* ligero aumento */
}

/* Separación uniforme entre iconos en pantallas grandes */
.navbar.align-self-center.d-flex.gap-4 {
    gap: 40px;
    /* espacio entre cada icono */
    align-items: center;
}

/* =================== LOGO =================== */

.logo {
  color: white;
  font-weight: bold;
}

.logo img {
  height: 180px;
  /* altura fija del logo */
  width: auto;
  /* mantiene proporción */
  display: block;
  /* evita que el logo se "baje" */
}

/* Logo más pequeño en móviles */
@media (max-width: 768px) {
  nav .logo img {
    height: 100px; /* o incluso 100px si quieres más chico */
  }
  .nav-icon i {
  font-size: 20px; /* tamaño*/
}
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.menu a:hover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.menu a:hover::after {
  width: 200%;
}
